@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
 
:root {
    --text-font-family-heading: 'Barlow Condensed','sans-serif'!important;
}

.borderTab{
    border:2px solid;
    border-color: var(--color-accent-70);    
}