:root {
    --text-font-family-heading: var(--font-families-default-font);
}


.box-legenda{
    margin-top:32px;
}

.linha-legenda-feedback{
    border: 0px;
    border-top: 1px solid var(--colors-default-neutral-30)
}

.text-legenda{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color:var(--color-neutral-70);
}

.c-module-cover .box-column {
    background-color: rgb(0 0 0 / 10%)!important;
}

.c-module-cover .box-column span {
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
}

.theme-details h1 {
    margin-left: 0!important;
}

.c-card-intro__title-container {
    left: initial!important; 
}

.c-table {
    display: inline-table!important;
}

.c-table--half .c-table__theader, .c-table--half .c-table__tdata {
    width: auto!important;
}
.c-table__tdata {
    text-align: left;
}
.c-table--half .c-table__theader:last-child, .c-table--half .c-table__tdata:last-child {
    text-align: left!important;
}

@media (min-width:300px) and (max-width:768px) {

    .c-table {
        display: block!important;
    }

    .c-card-destaque__body .o-image{
        border-radius: 0px !important;
    }

    .c-card-destaque__body .c-image{
        margin: 0px -33px !important;
        width: auto !important;
        border-radius: 0px;
    }

    .full{
        margin: 32px -40px !important;
    }
}

@media (min-width:1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1110px!important;
    }
}