:root {

    --BoxFalaRelatos: rgb(0, 98, 155);
    --BGrelatos: rgba(237, 240, 250,1);
    
    }
    
    .recurso-relatos {
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(top, 
                                            rgba(255,255,255,0) 0%, 
                                            rgba(255,255,255,0) 15%, 
                                            var(--BGrelatos) 15%, 
                                            var(--BGrelatos) 85%, 
                                            rgba(255,255,255,0) 85%, 
                                            rgba(255,255,255,0) 100%);
    
        background: -webkit-gradient(left top, left bottom, 
                                        color-stop(0%, rgba(255,255,255,0)), 
                                        color-stop(15%, rgba(255,255,255,0)), 
                                        color-stop(15%, var(--BGrelatos)), 
                                        color-stop(85%, var(--BGrelatos)), 
                                        color-stop(85%, rgba(255,255,255,0)), 
                                        color-stop(100%, rgba(255,255,255,0)));
    
        background: -webkit-linear-gradient(top, 
                                            rgba(255,255,255,0) 0%, 
                                            rgba(255,255,255,0) 15%, 
                                            var(--BGrelatos) 15%, 
                                            var(--BGrelatos) 85%, 
                                            rgba(255,255,255,0) 85%, 
                                            rgba(255,255,255,0) 100%);
    
        background: -o-linear-gradient(top, 
                                    rgba(255,255,255,0) 0%, 
                                    rgba(255,255,255,0) 15%, 
                                    var(--BGrelatos) 15%, 
                                    var(--BGrelatos) 85%, 
                                    rgba(255,255,255,0) 85%, 
                                    rgba(255,255,255,0) 100%);
    
        background: -ms-linear-gradient(top, 
                                    rgba(255,255,255,0) 0%, 
                                    rgba(255,255,255,0) 15%, 
                                    var(--BGrelatos) 15%, 
                                    var(--BGrelatos) 85%, 
                                    rgba(255,255,255,0) 85%, 
                                    rgba(255,255,255,0) 100%);
    
        background: linear-gradient(to bottom, 
                                        rgba(255,255,255,0) 0%, 
                                        rgba(255,255,255,0) 15%,
                                        var(--BGrelatos) 15%, 
                                        var(--BGrelatos) 85%,
                                        rgba(255,255,255,0) 85%, 
                                        rgba(255,255,255,0) 100%);
    
    }
    .recurso-relatos .foto {
        margin: 10rem 0px 0px;
    }
    .recurso-relatos .fala {
        margin: 0px 0px 0px -10rem;
    }
    .fill-relatos{
        fill: var(--BoxFalaRelatos);
    }
    .bg-relatos{
        background: var(--BoxFalaRelatos);
    }
    .box-fala-shadow{
        -webkit-box-shadow: 11px 15px 19px -15px rgba(0,0,0,0.80);
    -moz-box-shadow: 11px 15px 19px -15px rgba(0,0,0,0.80);
    box-shadow: 11px 15px 19px -15px rgba(0,0,0,0.80);
    }
    
    @media only screen and (max-width: 768px){
        .rotacao90 {
        transform: rotate(90deg);}
        .recurso-relatos .foto {
        margin: 0px 0px 0px 0px;
        }
        .recurso-relatos .fala {
            margin: -90px 0px 0px 0px;
        }
    }

    @media only screen and (max-width: 1190px){
        .rotacao90 {
            transform: rotate(90deg);
        }
    }
    