    /* The emerging W3C standard that is currently Firefox-only */
    .scroll-div {
        scrollbar-width: thin;
        scrollbar-color: var(--dotyellow) var(--barra-top-navegador-background-color);
        height: 200px;
        width: 100%;
        overflow: auto;
    }
    .scroll-div .scroll-div-conteudo{
        width:100%;
    }

    /* Works on Chrome/Edge/Safari */
    .scroll-div::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    .scroll-div::-webkit-scrollbar-track {
        background-color: var(--barra-top-navegador-background-color);
    }

    .scroll-div::-webkit-scrollbar-thumb {
        background-color: var(--dotyellow);
        border-radius: 20px;
        border: 3px solid;
        border-color: var(--barra-top-navegador-background-color);
        ;
    }
    .scroll-div::-webkit-scrollbar-corner {
        background-color: transparent;
    }



    .scroll-div code, .scroll-div p {
        color: var(--cor0);
        font-size: 1rem;
        line-height: 1.5;
        white-space: nowrap;
        overflow-x: auto;
    }

/* identacao recurso CODE */
.ident-0 {
    margin-left: 0px !important;
  }
  
  .ident-1 {
    margin-left: 15px !important;
  }
  
  .ident-2 {
    margin-left: 30px !important;
  }
  
  .ident-3 {
    margin-left: 45px !important;
  }
  
  .ident-4 {
    margin-left: 60px !important;
  }
  
  .ident-5 {
    margin-left: 75px !important;
  }
  
  .ident-6 {
    margin-left: 90px !important;
  }
  
  .ident-7 {
    margin-left: 105px !important;
  }
  
  .ident-8 {
    margin-left: 120px !important;
  }
  
  .ident-9 {
    margin-left: 135px !important;
  }
  
  .ident-10 {
    margin-left: 150px !important;
  }
  
  .ident-11 {
    margin-left: 165px !important;
  }
  
  .ident-12 {
    margin-left: 180px !important;
  }

    @media only screen and (max-width: 600px) {
        .scroll-div {
            scrollbar-width: thin;
            scrollbar-color: var(--dotyellow) var(--barra-top-navegador-background-color);
            height: 200px;
            width: 100%;
            overflow-y: auto;
            overflow-x: auto;
        }

        .scroll-div code, .scroll-div pre {
            color: var(--cor0);
            font-size: 16px;
            line-height: 1.5;
        }
    }

    .codigo-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: var(--barra-top-navegador-background-color);
    }

    .codigo-body {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: var(--body-navegador-background-color);
    }


    .codigoBodyNscroll{
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: var(--body-navegador-background-color);
    }


    .codigoBodyNscroll code, .codigoBodyNscroll p {
      color: var(--cor0);
      font-size: 1rem;
      line-height: 1.5;
  }

    .dot {
        height: 20px;
        width: 20px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }

    .dotred {
        background-color: var(--dotred);
    }

    .dotyellow {
        background-color: var(--dotyellow);
    }

    .dotgreen {
        background-color: var(--dotgreen);
    }

    .numberLine {
      position: relative;
      left: 0;
      color: gray;
      margin-right: 30px;
    }

    /* identacao recurso CODE */