.theme-collapse *, .theme-collapse *::before, .theme-collapse *::after {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.theme-collapse-title {
  border: 1px solid #CCC;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), color-stop(98%, #FFF), to(#EEE));
  background-image: linear-gradient(to bottom, #EEE, #FFF 98%, #EEE 100%);
  cursor: pointer;
}

.theme-collapse-title h1 {
  font-size: 1.33em;
}

.theme-collapse-content {
  max-height: 0;
  padding: 0 20px;
  margin-top: -1px;
  border: 1px solid #CCC;
  border-collapse: collapse;
  overflow: hidden;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transition: .200s all ease-in-out;
  transition: .200s all ease-in-out;
}

.theme-collapse.opened .theme-collapse-content {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  padding: 20px;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.imgCollapse {
  display: none;
}

.theme-collapse .opened .imgCollapse {
  display: block;
  margin-bottom: 3em;
}