@charset "UTF-8";

.comment {
	transform-origin: top;
	height: 0;
	transition: .333s height;
	overflow: hidden;
}

.comment-hidden {
	height: 200px;
	padding: 5px;
}

.feedback {
	/* container principal do elemento */
	padding: 10px 0;
	border-radius: 10px;
}

.star-rating-stars {
	/* container das estrelas */
	display: inline-block;
	padding: 5px 10px;
	background-color: var(--feedback-base-color);
	border-radius: 5px;
}

.star-rating-star {
	/* estrela */
	color: var(--feedback-star-color);
	cursor: pointer;
}

.comment-open {
	/* seta para expandir a textarea de feedback */
	float: right;
	color: var(--feedback-arrow-expand-comment);
	padding: 10px;
	margin: 0 0 10px 0;
	background-color: var(--feedback-background-color-expand-comment);
	cursor: pointer;
	border-radius: 5px;
}

.comment-dropdown-text {
	/* Texto do dropdown de feedback */
	margin-left: 10px;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 15px;
}

.comment {
	/* container de feedback */
	padding: 5px;
	font-family: sans-serif;
	font-size: 15px;
}

.comment-label {
	display: inline-block;
	padding-bottom: 0;
	margin-bottom: 0;
	color: var(--feedback-label-color-comment);
}

.comment-textarea {
	/* textarea */
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	border: none;
	background-color: var(--feedback-textarea-color-comment);
}

.comment-send {
	/* botão de enviar feedback */
	padding: 0 15px;
	text-transform: uppercase;
	border: none;
	background-color: var(--feedback-button-background-color-comment);
	color: var(--feedback-button-color-comment);
	cursor: pointer;
	border-radius: 5px;
}

.comment-send:hover {
	/* botão de enviar feedback */
	background-color: var(--feedback-button-background-color-hover-comment);
}

.comment-hidden {
	height: 100% !important;
	padding: 5px;
}


@media screen and (min-width: 601px) and (max-width: 900px) {
	.comment-hidden {
		height: 120px !important;
		width: 650px;
	}

	.comment {
		padding:
			0px !important;
	}

	.feedback {
		padding-bottom: 0px !important;
	}

	.star-rating-stars {
		margin: 0 !important;
	}

	.comment-open {
		margin: 0 !important;
	}
}