@charset "UTF-8";

/* container principal */
.question-main-container {
	position: relative;
	padding: 0 45px;
	margin: 0 auto;
}

@media all and (max-width: 600px) {
	.question-main-container {
		padding: 0 15px;
	}
}

/* estilos de questões corretas e incorretas */
.inputGroup input.correct:checked~label[for]::before,
.inputGroup input.correct~label[for]::before,
.inputGroup input.incorrect:checked~label[for]::before {
	background-color: inherit;
}

.inputGroup input.correct~label {
	background-color: rgba(5, 77, 5, 0);
	/* color: #fff; */
}

.inputGroup input.incorrect~label {
	background-color: rgba(88, 6, 6, 0);
	/* color: #fff; */

}

.inputGroup input.correct:checked~label, .inputGroup input.correct~label {
	background-color: rgb(3, 59, 3);
	color: #fff;

}

.inputGroup input.incorrect:checked~label {
	background-color: rgb(73, 5, 5);
	color: #fff;
}

.size_question {
	font-size: 1.2em;
}

.inputGroup {
	color: #fff;
}


.inputGroup label:before {
	width: 20px;
	height: 10px;
	border-radius: 50%;
	content: '';
	background-color: #a9ecdd;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	z-index: -1;
}



.inputGroup {
	background-color: #cdd9e400;
	display: block;
	margin: 10px 0;
	position: relative;
}

.inputGroup label {
	padding: 12px 5px;
	padding-left: 90px;
	width: 100%;
	display: block;
	text-align: left;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
	border-radius: var(--questions-border-radius);
}

.inputGroup label .questions-checkbox-container {
	content: '';
	position: absolute;
	z-index: 2;
	left: 15px;
	top: 50%;
	display: grid;
	place-items: center;
	width: 32px;
	height: 32px;
	border: 2px solid #D1D7DC;
	border-radius: 50%;
	background-color: #fff;
	/*   background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E "); */
	background-repeat: no-repeat;
	background-position: 2px 3px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
}

.inputGroup input~label .questions-checkbox-container::before {
	content: '';
	position: absolute;
	left: 42px;
	font-family: 'Arial';
	font-size: 18px;
	color: inherit;
}

.inputGroup input~label .questions-checkbox-container .questions-checkbox-icon {
	transform: scale(0);
	transition: .333s transform ease-in-out;
}

.inputGroup input:checked~label {
	color: #000;
}

.inputGroup input:checked~label:before {
	-webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
	transform: translate(-50%, -50%) scale3d(56, 56, 1);
	opacity: 1;
}

.inputGroup input:checked~label .questions-checkbox-container {
	background-color: rgb(20, 130, 119);
	border-color: rgb(130, 233, 223);
}

.inputGroup input:checked~label .questions-checkbox-container .questions-checkbox-icon {
	transform: scale(1);
	color: #FFF;
}

.inputGroup input {
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
}


form h3 {
	color: #b7f0e3;
	margin-bottom: 50px;
	margin-top: 100px;
	font-size: 1.4em;
}

form .container-buttons-question-feedback {
	text-align: center;
}

/* Collapse do feedback */
.caixa_feedback {
	background-color: #0f584e !important;
}

.question-main-container * {
	box-sizing: border-box;
}

.box-feedback-question {
	position: relative;
	width: 100%;
	padding: 20px;
	margin-top: 50px;
	border-radius: var(--questions-border-radius);
	background-color: var(--questions-feedback-background-color);
	transition: all .333s ease-in-out;
	transform: scaleY(0);
	transform-origin: top;
	max-height: 0;
	overflow: hidden;
}

.box-feedback-question.show {
	max-height: calc(100% + 150px);
	transform: scaleY(1);
}

.feedback-default-title {
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid var(--questions-feedback-title-border-color);
	color: var(--questions-feedback-title-color);
	font-size: 1.5em;
}

.feedback-text {
	margin: 16px;
	color: var(--questions-feedback-text-color);
}

.question-feedback-btn {
	border-radius: 7px;
}

.question-feedback-btn .try-again {
	border-radius: 7px;
	margin-left: 10px;
}

.hidden {
	display: none;
}

.feedback-collapse {
	width: 100%;
}

.caixa-feedback {
	border-radius: 10px;
}

.separador-hr {
	margin-top: -0.5rem;
}

.container-buttons-practice-test {
	text-align: center;
}