.circle {
    padding: 6px 15px;
    border-radius: 50%;
    background-color: #b8f1ff;
    color: #616161;
    max-height: 50px;
    z-index: 2;
    font-size: 1.3em;
  }
  
  .how-it-works.row .col-2 {
    align-self: stretch;
  }
  .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #c5878740;
    z-index: 1;
  }
  .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 2.5px);
  }
  .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }
  
  
  .timeline2 div {
    padding: 0;
    height: 39px;
  }
  .timeline2 hr {
    border-top: 2.5px solid #c5878740;
    margin: 0;
    top: 17px;
    position: relative;
  }
  .timeline2 .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline2 .corner {
    border: 3px solid #c5878740;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline2 .top-right {
    left: 50%;
    top: -50%;
  }
  .timeline2 .left-bottom {
    left: -50%;
    top: calc(50% - 2.5px);
  }
  .timeline2 .top-left {
    left: -50%;
    top: -50%;
  }
  .timeline2 .right-bottom {
    left: 50%;
    top: calc(50% - 2.5px);
  }
  .how-it-works.row .col-2.full-left::after {
    height: 100%;
    left: 50%;
}  
.how-it-works.row .col-2.top-right::after {
    height: 50%;
    left: calc(50% - 2.5px);
    top:0;
}
.how-it-works.row .col-2.end::after {
  height: 50%;
  left: calc(50% - 2.5px);
  top: 0;
}