/* switch de bloqueio */

#unlockAll {
    position: fixed;
    right: 25px;
    top: 0;
    z-index: 99999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
    /* width: 100px; */
    font-size: 22px;
    line-height: 1.2;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 15px;
    transition: 250ms all;
    border: 0;
  }
  
  #unlockAll:hover, #unlockAll:active, #unlockAll:focus, #unlockAll:visited {
    transition: 500ms all;
    border: 0 !important;
  }
  
  #unlockAll.btGreen:hover, .btGreen {
    background: #32CD32;
  }
  
  #unlockAll.btRed:hover, .btRed {
    background: #B22222;
  }
  
  #unlockAll i {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
  }