:root {
    --color-primary-30: #EDF2F2;
    --color-primary-40: #DAE7E7;
    --color-primary-50: #B5CDCE;
    --color-primary-60: #8DB4B5;
    --color-primary-70: #79A7A8;
    --color-primary-90: #348183;
    --color-primary-90-alpha: 52, 129, 131;

    --colors-tema-accent-30: #FFB878;
    --colors-tema-accent-60: #EEBD90;
    --colors-tema-accent-70: #E6A05F;
    --colors-tema-accent-90: #BF7240;

    --color-highlight: var(--color-accent-60);
    --color-default: var(--color-accent-70);
    --color-hover: var(--color-accent-90);
    --color-primary: var(--color-primary-90);
}