:root {
    --text-font-family-heading: var(--font-families-default-font);
}


.box-legenda{
    margin-top:32px;
}

.linha-legenda-feedback{
    border: 0px;
    border-top: 1px solid var(--colors-default-neutral-30)
}

.text-legenda{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color:var(--color-neutral-70);
}



@media (min-width:300px) and (max-width:768px) {

    .c-card-destaque__body .o-image{
        border-radius: 0px !important;
    }

    .c-card-destaque__body .c-image{
        margin: 0px -33px !important;
        width: auto !important;
        border-radius: 0px;
    }

    .full{
        margin: 32px -40px !important;
    }
}