@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --text-font-family-heading: 'Playfair Display', serif!important;
}

h1{
    line-height: 1.2em!important;
}
.c-module-cover {
    font-family: 'Playfair Display', serif!important;
}
.txtlink{
    color: var(--color-accent-70);
}
.material-icons.md-64 { 
    font-size: 64px; 
}
.color-white{
    color: white!important;
}
.roundb {
    border-radius: 3px 3px 0 0!important;
}

@media only screen and (min-width: 768px){
    .theme-details {
        font-size: 0.9rem!important;
    }
}